* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.welcome_home {
  background: linear-gradient(10deg, rgb(190, 131, 131), rgb(145, 102, 135));
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  color: rgb(56, 54, 54);
}

.home_content {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.home_content .home_title {
  text-decoration: underline;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  color: rgb(56, 54, 54);
  transition: all 1s ease-in-out;
  z-index: 3;
}

.home_content .home_title:hover {
  color: rgb(177, 155, 155);
}

.section_home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 0.5rem;
}

.section_home .category_title {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: flex-start;
  align-items: left;
  font-size: 22px;
  font-weight: bold;
  color: aliceblue;
  padding: 1rem 0;
  opacity: 0.96;
  transform: skewX(10deg);
  border-bottom: 10px solid aliceblue;
  transition: all 600ms ease-in-out;
  margin: 0 1rem;
}

.section_home .category_title:hover {
  transform: skewX(10deg);
  color: rgb(16, 190, 31);
  border-bottom: 2px solid rgb(16, 190, 31);
  cursor: pointer;
}

.section_home .my_anime_manga {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.my_anime_manga .anime_manga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  gap: 0.5rem;
  margin: 0.8rem 0;
}

.my_anime_manga .anime_manga .studio,
.my_anime_manga .anime_manga .record {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  flex: 100%;
}
.anime_manga .studio .anime_img {
  width: 85%;
  height: 80%;
  object-fit: cover;
}

.anime_img .studio_name,
.anime_img .released_year {
  font-weight: bold;
}

.record .rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.record .add_to_cart {
  font-size: 14px;
  color: darkcyan;
  background: rgb(26, 24, 22);
  padding: 0.35rem 0.8rem;
  border-radius: 0;
  transition: all 1s ease-in-out;
}

.record .add_to_cart:hover {
  background: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
}
